@font-face {
    font-family: star-wars;
    src: url("../fonts/STARWARS/STARWARS.ttf");
}

.main-bg {
    min-width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.head {
    width: 100%;
    min-height: 60vh;
    position: relative;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars {
    display: flex;
    justify-content: center;
    /*position: relative;*/
    color: #feda4a;
    height: 800px;
    font-family: star-wars, sans-serif;
    font-size: 500%;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 6px;
    perspective: 400px;
    text-align: justify;
}

.main .title {
    font-size: 70px;
    text-align: center;
}

.main .title h1 {
    text-transform: uppercase;
    margin: 0 0 100px;
}

.main {
    /*transform-origin: 50% 100%;*/
    /*top: 99999px;*/
    position: relative;
    animation: main 60s linear infinite;
}

@keyframes main {
    0% {
        top: 250px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
